# Django and API Framework
Django
django-filter
djangorestframework
markdown

# Database
psycopg2

# Env variable configuration
django-environ

# Debugging
django-debug-toolbar

# Security
django-admin-honeypot-updated-2021
django-axes

# Testing
coverage