# Django and API Framework

Django
django-environ
django-filter
djangorestframework
markdown

# Database
psycopg2

# Debugging
django-debug-toolbar

# Security
django-admin-honeypot-updated-2021
django-axes